Today we'll cover:

1. [More operations on lists](#More-operations-on-lists)
2. [Tuples](#Tuples)
3. [Sets](#Sets)
4. [Dictionaries](#Dictionaries)
5. [Looping techniques](#Looping-techniques)

# More operations on lists

In [1]:
planets = ["mercury", "venus", "earth"]

In [2]:
print planets

['mercury', 'venus', 'earth']

In [3]:
planets.append("mars") # adds a single element at the end

In [4]:
print planets

['mercury', 'venus', 'earth', 'mars']

In [5]:
planets.extend(["jupiter", "saturn", "uranus", "pluto"])

In [6]:
print planets

['mercury', 'venus', 'earth', 'mars', 'jupiter', 'saturn', 'uranus', 'pluto']

They removed Pluto from the list of planets. See this [wikipedia page](http://en.wikipedia.org/wiki/Pluto#2006:_IAU_classification). We'll do the same. One way is to remove it by value.

In [7]:
planets.remove("pluto")

In [8]:
print planets

['mercury', 'venus', 'earth', 'mars', 'jupiter', 'saturn', 'uranus']

Let's put it back in, this time using the `insert` method.

In [9]:
planets.insert(7,"pluto")

In [10]:
print planets

['mercury', 'venus', 'earth', 'mars', 'jupiter', 'saturn', 'uranus', 'pluto']

We've already seen another way to remove an item from the end of a list.

In [11]:
print planets.pop()

pluto

Note that, unlike `remove`, `pop` also returns the removed element. Also, it removes using indices, not values.

In [12]:
print planets.pop(2) # will remove 'earth'

earth

In [13]:
print planets

['mercury', 'venus', 'mars', 'jupiter', 'saturn', 'uranus']

Now let's put Earth back in.

In [14]:
planets.insert(2,"earth")

In [15]:
print planets

['mercury', 'venus', 'earth', 'mars', 'jupiter', 'saturn', 'uranus']

Let's sort the planets by their names. Note that `sort` does not return a new list. Instead, it sorts the list in place.

In [16]:
print planets.sort()

None

In [17]:
print planets

['earth', 'jupiter', 'mars', 'mercury', 'saturn', 'uranus', 'venus']

Similarly, `reverse` reverse a list in place. Later in the lecture, we will see the functions `sorted` and `reversed` that return new copies that are sorted/reversed version of a given list.

In [18]:
print planets.reverse()

None

In [19]:
print planets

['venus', 'uranus', 'saturn', 'mercury', 'mars', 'jupiter', 'earth']

Note that inserting and deleting elements from the *end* of a list is much more efficient compared to the same operations done at the *beginning* of a list.

In [20]:
def insert_and_remove_at_end(mylist, n):
    """ Insert and removing a dummy element, 'pluto', at the end of the list mylist."""
    
    for i in range(n):
        mylist.append('pluto')
        mylist.pop()

In [21]:
def insert_and_remove_at_beginning(mylist, n):
    """ Insert and removing a dummy element, 'pluto', at the beginning of the list mylist."""
    
    for i in range(n):
        mylist.insert(0,'pluto')
        mylist.pop(0)

Let's import the time module

In [22]:
import time

Now we'll time the executing of the two functions above with a million insertions and removals.

In [23]:
t1 = time.time(); insert_and_remove_at_end(planets, 10**6); print str(time.time() - t1) + " seconds"

0.236975908279 seconds

In [24]:
t1 = time.time(); insert_and_remove_at_beginning(planets, 10**6); print str(time.time() - t1) + " seconds"

0.384844064713 seconds

So inserts and deletions at beginning were slower. If you want equally fast inserts and deletions from both ends, use deques.

In [25]:
from collections import deque

In [26]:
my_deque = deque(planets)

In [27]:
print my_deque

deque(['venus', 'uranus', 'saturn', 'mercury', 'mars', 'jupiter', 'earth'])

In [28]:
def insert_and_remove_at_end(mydeque, n):
    """ Insert and removing a dummy element, 'pluto', at the end of the list mylist."""
    
    for i in range(n):
        mydeque.append('pluto')
        mydeque.pop()

In [29]:
def insert_and_remove_at_beginning(mydeque, n):
    """ Insert and removing a dummy element, 'pluto', at the beginning of the list mylist."""
    
    for i in range(n):
        mydeque.appendleft('pluto') # appendleft appends at the beginning
        mydeque.popleft() # popleft pops from the beginning

Now let's run a timing experiment again.

In [30]:
t1 = time.time(); insert_and_remove_at_end(my_deque, 10**6); print str(time.time() - t1) + " seconds"

0.175174951553 seconds

In [31]:
t1 = time.time(); insert_and_remove_at_beginning(my_deque, 10**6); print str(time.time() - t1) + " seconds"

0.188062906265 seconds

This time there wasn't much difference.

## Functional programming tools

`filter(function, sequence)` returns those items in a sequence for which `function(item)` returns `True`.

In [32]:
def isodd(n):
    """Test if the number n is odd."""
    
    return n % 2 == 1

In [33]:
filter(isodd, range(0,10)) # return odd numbers from 1 till 10

[1, 3, 5, 7, 9]

In [34]:
filter(lambda x: x.isupper(), "University of Michigan")

'UM'

`map(function, sequence)` return a sequence containing elements obtained by applying `function` to each element of the sequence.

In [35]:
map(lambda x: x.upper(), planets)

['VENUS', 'URANUS', 'SATURN', 'MERCURY', 'MARS', 'JUPITER', 'EARTH']

Oops, that capitalized all letters. We just wanted the first letter capitalized. The right method is `capitalize`.

In [36]:
map(lambda x: x.capitalize(), planets)

['Venus', 'Uranus', 'Saturn', 'Mercury', 'Mars', 'Jupiter', 'Earth']

`reduce(function, sequence)` returns a single value as follows. It first applies the function on the first two items. Then, on the result and the third item, and so on.

For illustration let us think of computing the discounted sum of numbers $n_1, n_2, n_3, \ldots, n_k$ defined as:

$n_1 + \gamma n_1 + \gamma^2 n_3 + \ldots + \gamma^{k-1}n_k$

Note that this can be written as:

$n_1 + \gamma (n_2 + \ldots + \gamma (n_{k-2} + \gamma (n_{k-1} + \gamma n_k)) \cdots )$

In [37]:
def discounted_sum(num_list, gamma):
    """ Return the gamma discounted sum of numbers in num_list. """
    
    my_copy = num_list[:] # create a copy before reversing
    my_copy.reverse() # reverse the list so that the last element is discounted the most
    return reduce(lambda x, y: gamma*x + y, my_copy)

In [38]:
discounted_sum(range(1,11),.9)

30.26431198

Here's an alternate implementation.

In [39]:
def discounted_sum_alt(num_list, gamma):
    """ Return the gamma discounted sum of numbers in num_list.
    
    This implementation does not use reduce.
    """
    
    powers_of_gamma = map(lambda x: gamma**x, range(len(num_list)))
    return sum(map(lambda x, y: x*y, num_list, powers_of_gamma))

In [40]:
discounted_sum_alt(range(1,11),.9)

30.264311980000006

## List comprehensions

List comprehensions are often more readable than applications of `filter` and `map`.

`[f(i) for i in my_list]`

returns the same result as

`map(f, my_list)`

And,

`[f(i) for i in my_list if g(i)]`

returns the same result as

`map(f, filter(g, my_list))`

In [41]:
def discounted_sum_alt2(num_list, gamma):
    """ Return the gamma discounted sum of numbers in num_list.
    
    This implementation uses list comprehensions.
    """
    
    powers_of_gamma = [gamma**i for i in range(len(num_list))]
    return sum([x*y for (x,y) in zip(num_list, powers_of_gamma)])

In [42]:
discounted_sum_alt2(range(1, 11), .9)

30.264311980000006

The built-in function `sum` sums up the values in a given list. The built-in function `zip` called on `[a, b, c, ...]` and `[A, B, C, ...]` returns `[(a, A), (b, B), (c, C), ...]`.

In [43]:
zip([1, 2, 3, 4],["I", "II", "III", "IV"])

[(1, 'I'), (2, 'II'), (3, 'III'), (4, 'IV')]

# Tuples

We have seen two sequence data types where you can use indexing and slicing: namely strings and lists. They are mutable: you are allowed to change their contents. Tuples are *non-mutable* sequences.

In [44]:
t = ("a", "strange", "tuple") # create a tuple

In [45]:
t[1]

'strange'

In [46]:
t[0] = "the" # attempt to change

TypeError: 'tuple' object does not support item assignment

You can create tuples of tuples.

In [47]:
two_tuples = ((1, 2, 3), (-1, -2, -3))

In [48]:
two_tuples[1]

(-1, -2, -3)

In [49]:
two_tuples[1][2]

-3

You can also create tuples of lists.

In [50]:
tuple_of_lists = ([1, 2, 3], [-1, -2, -3])

In [51]:
tuple_of_lists[1]

[-1, -2, -3]

In [52]:
tuple_of_lists[1].reverse() # lists inside tuples can be changed

In [53]:
tuple_of_lists

([1, 2, 3], [-3, -2, -1])

Here is how empty and singleton tuples are created, in case you ever need them.

In [54]:
empty_tuple = ()

In [55]:
print empty_tuple

()

In [56]:
len(empty_tuple)

0

In [57]:
singleton_tuple = "loner",

In [58]:
print singleton_tuple

('loner',)

In [59]:
len(singleton_tuple)

1

# Sets

In [60]:
sentence = ["A", "journey", "of", "a", "thousand", "miles", "begins", "with", "a", "single", "step"]

In [61]:
word_lengths = [len(w) for w in sentence]

In [62]:
print word_lengths

[1, 7, 2, 1, 8, 5, 6, 4, 1, 6, 4]

In [63]:
unique_lengths = set(word_lengths)

In [64]:
print unique_lengths

set([1, 2, 4, 5, 6, 7, 8])

Sets can also be created using curly braces.

In [65]:
set_of_vowels = {"a", "e", "i", "o", "u"}

In [66]:
print set_of_vowels

set(['a', 'i', 'e', 'u', 'o'])

Let's create a set of letters appearing in the sentence above.

In [67]:
letters_in_sentence = reduce(lambda x, y: x | y, [set(w.lower()) for w in sentence]) # we use | for union of sets

In [68]:
print letters_in_sentence

set(['a', 'b', 'e', 'd', 'g', 'f', 'i', 'h', 'j', 'm', 'l', 'o', 'n', 'p', 's', 'r', 'u', 't', 'w', 'y'])

In [69]:
letters_in_sentence & set_of_vowels # we use & for finding set intersections

{'a', 'e', 'i', 'o', 'u'}

In [70]:
letters_in_sentence - set_of_vowels # set difference

{'b', 'd', 'f', 'g', 'h', 'j', 'l', 'm', 'n', 'p', 'r', 's', 't', 'w', 'y'}

# Dictionaries

A dictionary consists of `key:value` pairs. You can think of a dictionary as an array into which you can index using keys. Some languages use the term associative array instead of dictionary. Creating dictionaries in Python is easy.

In [71]:
inventor = {"C":"Dennis Ritchie", "C++":"Bjarne Stroustrup", "Fortran":"John Backus", "Python":"Guido van Rossum"}

In [72]:
inventor["C"]

'Dennis Ritchie'

In [73]:
inventor["Python"]

'Guido van Rossum'

In [74]:
inventor["R"] # trying to use a key that's not present raises an exception

KeyError: 'R'

In [75]:
for language in inventor.keys(): # dict.keys() gives all keys in a dict
    print language + " was invented by " + inventor[language] + "."

Python was invented by Guido van Rossum.
Fortran was invented by John Backus.
C was invented by Dennis Ritchie.
C++ was invented by Bjarne Stroustrup.

Now let's print the languages in sorted order

In [76]:
for language in sorted(inventor.keys()): # sorted() returns a sorted list
    print language + " was invented by " + inventor[language] + "."

C was invented by Dennis Ritchie.
C++ was invented by Bjarne Stroustrup.
Fortran was invented by John Backus.
Python was invented by Guido van Rossum.

# Looping techniques

We can loop over a list of tuples too in a `for` loop!

In [77]:
tuples = [("walk", "future", "will walk"), ("eat", "past", "ate"), ("drink", "present continuous", "drinking")]

In [78]:
for orig, tense, word in tuples:
    print "The " + tense + " tense of '" + orig + "' is '" + word + "'."

The future tense of 'walk' is 'will walk'.
The past tense of 'eat' is 'ate'.
The present continuous tense of 'drink' is 'drinking'.

Now let us print the `inventor` dictionary above sorted by values (i.e. inventor names). First, we use the `items()` method to get all key, value pairs.

In [79]:
print inventor.items()

[('Python', 'Guido van Rossum'), ('Fortran', 'John Backus'), ('C', 'Dennis Ritchie'), ('C++', 'Bjarne Stroustrup')]

In [80]:
sorted_by_values = sorted(inventor.items(), key=lambda x: x[1]) # note how we're sorting based on values, not keys

In [81]:
print sorted_by_values

[('C++', 'Bjarne Stroustrup'), ('C', 'Dennis Ritchie'), ('Python', 'Guido van Rossum'), ('Fortran', 'John Backus')]

In [82]:
for language, person in sorted_by_values: # note that sorted_by_values is a list of tuples
    print person + " invented " + language + "."

Bjarne Stroustrup invented C++.
Dennis Ritchie invented C.
Guido van Rossum invented Python.
John Backus invented Fortran.