It is customary to print the words "Hello World!" when trying out a language for the first time.

In [1]:
print 'Hello World!'

Hello World!

Make sure you're using Python 2.7.

In [2]:
import sys # import the system module
print sys.version

2.7.13 |Anaconda custom (x86_64)| (default, Dec 20 2016, 23:05:08)
[GCC 4.2.1 Compatible Apple LLVM 6.0 (clang-600.0.57)]

You can use Python as a calculator. Below we use `**`, the exponentiation operator.

In [3]:
print 1**3 + 12**3 # Hardy-Ramanujan number

1729

The number 1729 can be written as a sum of 2 cubes in 2 different ways. There's a famous [anecdote](http://mathworld.wolfram.com/Hardy-RamanujanNumber.html) about this involving the mathematicians G. H. Hardy and Srinivasa Ramanujan. Here's the second way to write 1729 as a sum of two cubes.

In [4]:
print 9**3 + 10**3

1729

The Hardy-Ramanujan number is actually divisible by 13, which is probably why Hardy thought seeing it on a taxicab was an "ill omen". Let's check if it is indeed divisible by 13.

In [5]:
if 1729 % 13 == 0: # The operator % gives the remainder
    print "Ill omen"
else:
    print "Good omen"

Ill omen

Note that Python uses indentation (standard is 4 spaces for each indentation level) instead of braces (as in C, C++ or Java).

Note that we used double quotes ("") in the print statements above. In Python, you can create strings using either single quotes ('') or double quotes. This is useful for creating strings that have quotes in them.

In [6]:
print "I have a dream" # Famous MLK Jr. speech

I have a dream

We could have also used single quotes.

In [7]:
print 'I have a dream'

I have a dream

Now let's write a simple function. Python uses the `def` keyword to create functions.

In [8]:
def square(x):
    return x**2

Now let's call this function with an argument of 5.

In [9]:
square(5)

25

Yay, that worked! Functions are first class objects in Python. That is, unlike many other languages, functions can be assigned to variables, stored in lists, etc. For instance, we can say:

In [10]:
another_square = square

Now `another_square` and `square` refer to the same function.

In [11]:
another_square(6)

36

Let's now try to call the function `square` using a string as an argument.

In [12]:
square("5")

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

Oops, we got a type error! The exponentiation operation is not defined for objects of type string.

In [13]:
type(5)

int

In [14]:
type("5")

str

But you can convert a number from its string representation to an `int`

In [15]:
int("5")

5

In [16]:
type(_)

int

By the way, underscore (_) is a special variable in Python that always stores the result of the last computation (when in an interactive mode).

We can also go back to a string representation using `str`.

In [17]:
print str(5) + " is spelled as five."

5 is spelled as five.

Yes, the plus operator is overloaded. For strings, it concatenates.
Here's another illustration of operator overloading.

In [18]:
def double(x):
    return x*2

In [19]:
double(5)

10

Ok, so far, so good. But let's supply a string.

In [20]:
double("five")

'fivefive'

Hmmm. The string gets repeated two times!

Enough simple stuff! Let's make things more interesting.

Let's define the "HOTPO" function -- "Half Or Triple Plus One".

In [21]:
def hotpo(n):
    if n % 2 == 0: # even number
        return n/2
    else:
        return 3*n+1

In [22]:
hotpo(6)

3

In [23]:
hotpo(3)

10

In [24]:
hotpo(10)

5

In [25]:
hotpo(5)

16

In [26]:
hotpo(16)

8

In [27]:
hotpo(8)

4

In [28]:
hotpo(4)

2

In [29]:
hotpo(2)

1

So we ended up with 1 in 8 applications of the hotpo function. Note that 1 -> 2 -> 4 -> 1 is a cycle under the hotpo function.

In [30]:
def collatz(n):
    m, i = n, 0 # note multiple assignments
    while m != 1:
        m = hotpo(m)
        i = i+1
    print "Reached 1 from " + str(n) + " in " + str(i) + " iterations."

Test the case of 6 where we already know it takes 8 iterations.

In [31]:
collatz(6)

Reached 1 from 6 in 8 iterations.

The [Collatz conjecture](http://en.wikipedia.org/wiki/Collatz_conjecture) states that the function call `collatz(n)` terminates in a finite number of iterations for every positive integer n.

In [32]:
collatz(670617279) # This is the number less than a billion with the longest stopping time.

Reached 1 from 670617279 in 986 iterations.

Note that `collatz` is a fairly simple function. Yet nobody know how to prove or disprove the statement:

For every positive integer `n`, the call `collatz(n)` terminates in a finite number of steps.

In general, even the problem (called the [halting problem](http://en.wikipedia.org/wiki/Halting_problem)) of deciding whether a given function on a given input terminates in a finite number of steps or run forever (e.g., by going into an infinite loop) is *undecidable*, i.e., there is no algorithm for solving it. The halting problem was one of the first problems shown to be undecidable: [Alan Turing](http://en.wikipedia.org/wiki/Alan_Turing) showed this in 1936. Another undecidable problem arose in [Alonzo Church's](http://en.wikipedia.org/wiki/Alonzo_Church) work on lambda calculus, so called because the Greek letter lambda is used to define functions in it. In fact, Python also uses the lambda notation.

In [33]:
triple = lambda x: 3*x

In [34]:
triple(1)

3

Of course, this is silly since we could have simply used `def`. However, the ability to define unnamed functions using the `lambda` keyword is quite useful. For instance, we can use to define a function that returns another function! Namely, one that multiplies its argument by the argument supplied.

In [35]:
def create_multiply_by(n):
    return lambda x: x*n

In [36]:
quadruple = create_multiply_by(4)

In [37]:
quadruple(10)

40

Cool, right?
Now let's start playing with lists.

In [38]:
mylist = []

This created an empty list. Let us add an element to it.

In [39]:
mylist.append(0)

In [40]:
mylist

[0]

`append` is a method associated with objects of type `list`. It adds an element to the end of the list and is very efficient.

In [41]:
type(mylist)

list

Let's add a few more numbers to our list. We'll use the `range` function in Python. Consult the [Python documentation](https://docs.python.org/2.7/library/functions.html#range) for more details about what `range` can do.

In [42]:
for i in range(1, 9): 
    mylist.append(i)
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8]

We can index into a list using square brackets. Remember, Python indices start at 0.

In [43]:
mylist[0]

0

You'll get an error if you try too large an index.

In [44]:
mylist[9]

IndexError: list index out of range

The function `len` gives you the number of elements in a list and `len(mylist)-1` is the largest index one can use without getting an error.

In [45]:
len(mylist)

9

What about the smallest legal value for an index into a list? One might expect that it is 0. It's not! Let's try using `-1` as an index.

In [46]:
mylist[-1]

8

Whoa! That gives the *last* element of the list instead of an error. Of course, you still get an error if you make the index too negative.

In [47]:
mylist[-10]

IndexError: list index out of range

Another useful thing besides indexing is slicing.

In [48]:
mylist[1:5] # elements from index 1 (included) to index 5 (excluded)

[1, 2, 3, 4]

We can also slice using negative indices.

In [49]:
mylist[-5:-1] # elements from index -5 (included) to index -1 (excluded)

[4, 5, 6, 7]

Note that slicing returns new lists obtained by copying the list being sliced.

In [50]:
last_four = mylist[-4:]

In [51]:
last_four

[5, 6, 7, 8]

In [52]:
mylist[-1] = 88

In [53]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 88]

In [54]:
last_four

[5, 6, 7, 8]

Let's end by looking at a cool functional programming feature of Python: mapping a function onto a list to create a new list. We will first throw out the last element, 88, from our list.

In [55]:
mylist.pop()

88

In [56]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7]

In [57]:
map(quadruple, mylist)

[0, 4, 8, 12, 16, 20, 24, 28]

Exactly the same result, with perhaps more readable code, can be achieved using a list comprehension.

In [58]:
[quadruple(i) for i in mylist]

[0, 4, 8, 12, 16, 20, 24, 28]

We're now set to implement the [Sieve of Eratosthenes](http://en.wikipedia.org/wiki/Sieve_of_Eratosthenes).

In [59]:
numbers = range(2,101) # numbers from 2 through 100

In [60]:
primes = []

In [61]:
while numbers: # Empty list is False, non-empty list is True
    newprime = numbers.pop(0) # remove the first number
    primes.append(newprime) # put it in primes
    numbers = [i for i in numbers if i % newprime != 0] # and remove all its multiples

In [62]:
print primes

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]